<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Fatimah Davies</title>
        <meta charset="UTF-8" http-equiv="encoding" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="le=edge" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="header.css"/>
        <link rel="stylesheet" href="main.css"/>
        <link rel="stylesheet" href="/assets/css/mediaQ.css"/>
        <link rel="stylesheet" href="/assets/css/animation.css"/>
    </head>
    <body id="body">
        <!--navigation bar-->


        <!-- <div class="nav flex-row" id="nav">
            <a href="#" id="logo" class="col-8">Logo</a>
            <nav class="col-2">
                <ul class="flex-row space-evenly">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Works</a></li>
                    <li><a class="icon" onclick="showNav()"><i class="fa fa-bars"></i></a></li>
                    <li><a class="icon-close" onclick="hideNav()"><i class="fa fa-times"></i></a></li>
                </ul>
            </nav>
        </div> -->
        <!-- <div class="topnav" id="myTopnav">
            <a href="#home" class="active">Logo</a>
            <a href="#news">About</a>
            <a href="#contact">Works</a>
            <a href="javascript:void(0);" class="icon" onclick="showNav()">
                <i class="fa fa-bars"></i>
            </a>
            <a href="javascript:void(0);" class="icon-close" id="close" onclick="showNav()">
                <i class="fa fa-times"></i>
            </a>
        </div> -->

        <!-- <div class="flex-row nav-header">
            <div class="col-2"><h4 class="logo">Logo</h4></div>
            <div class="col-8 top-nav" id="myTopnav">
                <ul class="flex-row space-evenly text-right">
                    <li><a href="#">Works</a></li>
                    <li><a href="#">About</a></li>
                    <a href="javascript:void(0);" class="icon" onclick="showNav()"><i class="fa fa-bars"></a>
                    <a href="#" class="icon-close" onclick="showNav()"><i class="fa fa-times"></a>
                </ul>
            </div>
        </div> -->
        <!-- <div class="header flex-row">
            <div class="logo col-8"><h4>Logo</h4></div>
            <div class="col-2 text-right">
                <ul class="flex-row nav">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Works</a></li>
                    <li class="icon-nav" id="icon-nav"><a href="#"><i class="fa fa-bars"></i></a></li>
                    <li class="icon-close-nav" id="icon-close-nav"><a href="#"><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
        </div> -->
        <header class="flex-row"> 
            <p class="logo col-8">logo</p>
            <p></p>
            <span id="toggle" class="col-2 text-right"><i class="fa fa-bars"></i></span>
        </header>

        <nav>
            <span id="close"><i class="fa fa-times"></i></span>
            <ul class="links">
                <li class="active"><a href="#">About</a></li>
                <li><a href="#">Works</a></li>
            </ul>
            <div class="box-list"></div>
        </nav>

        <script src="header.js"></script>
    </body>
</html>