<html lang="en">
    <head>
        <title>Fatimah Davies</title>
        <meta charset="UTF-8" http-equiv="encoding" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="le=edge" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="loader.css"/>
    </head>
    <body onload="loadContent()">
        <!--loader-->
        <div id="loader"></div>

        <div id="content"><p>hello</p></div>
        <script src="loader.js"></script>
    </body>
</html>