:root{
    margin:0;
    padding: 0;
    color:#fff;
}
h1{
    font-size:40px;
    margin:20px 0px;
}
h2{
    font-size:36px;
    margin:16px 0px;
}
h3{
    font-size:30px;
    margin:10px 0px;
}
h4{
    font-size:24px;
    margin:5px 0px;
}
.p1{
    font-size:18px;
    margin:5px 0px;
}
.p2{
    font-size:16px;
    margin:5px 0px;
}
.p3{
    font-size:14px;
    margin:5px 0px;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.flex-col-reverse{
    display: flex;
    flex-direction:column-reverse;
}
.col-1{
    width:10%;
}
.col-2{
    width:20%;
}
.col-3{
    width:30%;
}
.col-4{
    width:40%;
}
.col-5{
    width:50%;
}
.col-6{
    width:60%;
}
.col-7{
    width:70%;
}
.col-8{
    width:80%;
}
.col-9{
    width:90%;
}
.col-10{
    width:100%;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: right;
}
.justify-center{
    justify-content: center;
}
.space-evenly{
    justify-content: space-evenly;
}
.space-around{
    justify-content: space-around;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
#name{
    height:150px;
}
#name h1{
    border-radius: 50%;
    border:2px dashed #fff;
    padding:20px;
    width:50%;
    float: right;
}
.auto{
    margin: auto;
}
html, body{
    height:100%;
}
.body{
    background: rgba(0,0,0,0.5);
}