.work-and-contact{
    height:60%;
    width:100%;
    margin:0;
    margin-top:100px;
    padding:0;
}
.contact p{
    writing-mode: vertical-rl;
    font-size:22px;
    font-weight: bold;
    text-align: left;
}
.works{
    color:#000;
}
.works div{
    margin-bottom: 5px;
    background-color: #fff;
    padding:10px;
    font-size: 20px;
}
.works div a{
    text-decoration: none;
    color:#000;
}

.works div:nth-child(1){
    width:58%;
}
.works div:nth-child(2){
    width:64%;
}
.works div:nth-child(3){
    width:50%;
}
.works div:nth-child(4){
    width:80%;
}
.works div:hover{
    font-size: 30px;
    width:90%;
    transition: 1s;
}
